@model GrozaNews.Models.Comment

@*@{
        ViewBag.Titlu = "Editare Comentariu";
    }*@

@*<h2>@ViewBag.Titlu</h2>*@

@using (Html.BeginForm("Edit", "Comment", new { id = Model.CommentId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="panel-heading article-heading">
        <span class="font-roboto article-title">@Model.User.Email.Split('@')[0]</span>
    </div>
    <br />
    <textarea class="autoExpand forumPost form-control" style="width:100%" rows="4" data-min-rows="4" name="Content" placeholder=@Model.Content>@Model.Content</textarea>
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <input type="hidden" name="NewsId" value="@Model.NewsId" />
    <br />


    <div class="panel-footer article-panel-footer around">
        <button class="btn btn-sm btn-info" type="submit">Modifica comentariu</button>

    </div>


}
