@model GrozaNews.Models.News

@{
    ViewBag.Titlu = "Editare Stire";
}

<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.NewsId)
    <br />
    @Html.Label("Title", "Titlu Stire")
    <br />
    @Html.Editor("Title", new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Content", "Continut Stire")
    <br />

    @*class="autoExpand forumPost form-control" rows="4" data-min-rows="4" name="Content"*@
    @Html.TextArea("Content", Model.Content, new { @class = "autoExpand forumPost form-control", @style = "height:200px; rows:4; data-min-rows:4" })
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.HiddenFor(m => m.Date)

    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId,
        new SelectList(@ViewBag.Categories, "Value", "Text"),
        "Selectati categoria", new { @class = "form-control", required = "required" })
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br />
    <br />
    <img src="@Url.Action("GetImage", "News", new { @Model.NewsId })" alt="News Image" />
    <br />
    <div>
        <br />
        <input name="image" type="file" />
        @Html.ValidationMessageFor(model => model.ImageData)
    </div>
    <br />

    <div class="panel-footer article-panel-footer around" style="background-color:white">
        <button class="btn btn-info" style="margin-top:20px" type="submit">Modifica stire</button>
        <a class="btn btn-info" style="margin-top:20px" href="/News/Index/" style="float:right">Inapoi</a>
    </div>
}

