@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Ultimele noutati";
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <h2 class="error_message">@TempData["ErrorMessage"]</h2>

}

@if (TempData.ContainsKey("message"))
{
    <h2 class="edit_message">@TempData["message"]</h2>

}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<h2>@ViewBag.Title</h2>

@foreach (var news in ViewBag.News)
{
    <h2>@news.Title</h2>
    <p>@news.Date</p>
    <p>@news.Content</p>
    <p>@news.Category.CategoryName</p>
    <p>Publicat de catre <b>@news.User.Email.Split('@')[0]</b></p>

    <img src="@Url.Action("GetImage", "News", new { @news.NewsId })" alt="News Image" width="50%" height="50%"/>
    <br />
    <a href="/News/Show/@news.NewsId">Afisare stire</a>
    <br />
    <hr />
    <br />
}

@if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
{
    <br />
    <a href="/News/New">Adauga stire</a>
    <br />
    <a href="/News/NewThumbnail">Adauga stire preluata</a>
}

<br />

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="/News/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li><a href="/News/Index?page=@i">@(i)</a></li>
            }
            <li>
                <a href="/News/Index?page=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>