@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Ultimele stiri";
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <h2 class="error_message">@TempData["ErrorMessage"]</h2>

}

@if (TempData.ContainsKey("message"))
{
    <h2 class="edit_message">@TempData["message"]</h2>

}

<h2>@ViewBag.Title</h2>

@foreach (var news in ViewBag.News)
{
    <div class="panel-heading article-heading">
        <span class="font-roboto article-title">@news.Title</span>
    </div>

    <div class="panel-body">
        <div>
            <div class="article-content-wrapper" style="width: 50%; float:left">
                @Html.Raw(news.Content)
            </div>

            <div style="width: 50%; float:right">
                <img src="@Url.Action("GetImage", "News", new { @news.NewsId })" alt="News Image" style="max-width:500px; vertical-align:middle; float:right" />
            </div>
        </div>
    </div>
    <div class="article-meta">
        <span class="">
            <i class="glyphicon glyphicon-time"></i>
            @news.Date
        </span>
        <div>
            <i class="glyphicon glyphicon-bookmark"></i>
            @news.Category.CategoryName
        </div>
        <div>
            <i class="glyphicon glyphicon-user"></i>
            <strong> @news.User.Email.Split('@')[0] </strong>
        </div>
    </div>

    <div class="panel-footer article-panel-footer around">

        <a class="btn btn-sm btn-success full-width" href="/News/Show/@news.NewsId">Afisare stire</a>
    </div>
    <br />
}



<br />



<div class="panel-footer article-panel-footer around" style="background-color:white">
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/News/Index?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li><a href="/News/Index?page=@i">@(i)</a></li>
                }
                <li>
                    <a href="/News/Index?page=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


@if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
{
    <br />
    <a href="/News/New">Adauga stire</a>
    <br />
    <a href="/News/NewThumbnail">Adauga stire preluata</a>
}