
@{
    ViewBag.Title = "IndexProposedNews";
}

@if (TempData.ContainsKey("message"))
{
    <h2 class="edit_message">@TempData["message"]</h2>

}

<h2>@ViewBag.Title</h2>

@foreach (var news in ViewBag.News)
{
    <h2>@news.Title</h2>
    <h2>@news.NewsId</h2>
    <p>@news.Content</p>
    <img src="@Url.Action("GetProposedImage", "News", new { @news.NewsId })" alt="News Image" />
    <p>@news.Date</p>
    <p>@news.Category.CategoryId</p>
    <p>@news.Category.CategoryName</p>

    using (Html.BeginForm("SubmitProposedNews", "News", new { id = news.NewsId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <input class="btn btn-sm btn-success" name="submitButton" type="submit" value="Accept" />
        <input class="btn btn-sm btn-warning" name="submitButton" type="submit" value="Edit" />
        <input class="btn btn-sm btn-danger" name="submitButton" type="submit" value="Reject" />
    }

    <br />
    <hr />
    <br />
}

<br />
