@model GrozaNews.Models.News
@{
    ViewBag.Title = "New";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "News"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.UserId)

    @Html.Label("Title", "Titlu Stire")
    <br />
    @Html.TextBoxFor(m => m.Title, Model.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Content", "Continut Articol")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control summernote" })
    @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })

    <label>Selectati categoria</label>

    @Html.DropDownListFor(m => m.CategoryId, new SelectList(@ViewBag.Categories, "Value", "Text"),
        "Selectati categoria", new { @class = "form-control", required = "required" })

    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br />

    <button class="btn btn-sm btn-success" type="submit">Adauga stire</button>
}
