@model GrozaNews.Models.News

@{
    ViewBag.Title = "Showing news";
}
<h2>@ViewBag.Title</h2>

<h2>@Model.Title</h2>
<h2>@Model.NewsId</h2>
<p>@Model.Content</p>
<p>@Model.Date</p>

@foreach (var comment in Model.Comments)
{
    @Html.Label("UserId", "Autor comentariu:")
    <p>@comment.User.Email</p>
    <p>@comment.Content</p>
    <a class="btn btn-success" href="/Comment/Edit/@comment.CommentId">Editare comentariu</a>
    <form method="post" action="/Comment/Delete/@comment.CommentId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Sterge comentariu</button>
    </form>
    <br />
    <hr />
    <br />
}

<form method="post" action="/Comment/New">

    <textarea name="Content" placeholder="Scrie comentariu nou"></textarea>
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <input type="hidden" name="NewsId" value="@Model.NewsId" />
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <br />

    <button type="submit">Adauga comentariu</button>
</form>

@if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
{
    <a href="/News/Edit/@Model.NewsId">Modifica stire</a>
}

@if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
{
    <form method="post" action="/News/Delete/@Model.NewsId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Sterge stire</button>
    </form>
}

<hr /> <a href="/News/Index">Inapoi la stiri</a>

@if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
{
    <br /> <a href="/News/New">Adauga stire</a>
}
<br />
