@model GrozaNews.Models.News

@{
    ViewBag.Title = "Showing news";
}
<h2>@ViewBag.Title</h2>

<h2>@Model.Title</h2>
<h2>@Model.NewsId</h2>
<p>@Model.Content</p>
<p>@Model.Date</p>

@foreach (var comment in Model.Comments)
{
    @Html.Label("UserId", "Autor comment:")
    <p>@comment.UserId</p>
    <p>@comment.Content</p>
    <a class="btn btn-success" href="/News/Edit/@comment.CommentId">Editare comentariu</a>
    <br />
    <hr />
    <br />
}

<a href="/News/Edit/@Model.NewsId">Modifica stire</a>

<form method="post" action="/News/Delete/@Model.NewsId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Sterge stire</button>
</form>

<hr /> <a href="/News/Index">Inapoi la stiri</a>
<br /> <a href="/News/New">Adauga stire</a>
<br />
