@model GrozaNews.Models.Category
@{
    ViewBag.Title = "Editare categorie";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Category"))
{
    @Html.Hidden("CategoryId", Model.CategoryId)

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("CategoryName", "Denumire categorie")
    <br />
    @Html.TextBox("CategoryName", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
    <br />

    <button class="btn btn-info" type="submit">Modifica categoria</button>
    <a class="btn btn-info" href="/Category/Index/" style="float:right">Inapoi</a>

}
