@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Afisare categorie";
}

<h2>@ViewBag.Title</h2>

<h2>@ViewBag.category.CategoryName</h2>

@ViewBag.category.CategoryId

<form method="post" action="/Category/SortNews/@ViewBag.category.CategoryId">
    <select name="sortBy">
        <option value="Title">Title</option>
        <option value="Date">Date</option>
    </select>
    <br><br>
    <button class="btn btn-revoke-rights" type="submit">Sorteaza</button>
</form>

@foreach (var news in ViewBag.category.News)
{
    @Html.Label("Title", "Titlu stire")
    <p>@news.Title</p>
    <a class="btn btn-success" href="/News/Show/@news.NewsId">Afisare stire</a>

    if (User.IsInRole("Administrator") || (User.IsInRole("Editor") && User.Identity.GetUserId() == news.UserId))
    {
        <a class="btn btn-success" href="/News/Edit/@news.NewsId">Editare stire</a>
    }

    <br />
    <hr />
    <br />
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Category", routeValues: new { id = @ViewBag.category.CategoryId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)

    if (User.IsInRole("Administrator"))
    {
        <button class="btn btn-success" type="submit">Sterge categoria</button>
    }
}
<br />
<a class="btn btn-success" href="/Category/Index/">Afisare lista categorii</a>

<br />
<hr />
<br />

