@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "UsersList";
}

<h2>@ViewBag.Title</h2>

@foreach (var user in ViewBag.Users)
{
    if (@user.Item1 != User.Identity.GetUserId())
    {
        <h2>@user.Item2</h2>
        <h2>@user.Item3</h2>

        <form method="post" action="/Account/ChangeRights/@user.Item1">
            @Html.HttpMethodOverride(HttpVerbs.Put)

            <select name="roles">
                <option value="Nothing">--Change rights--</option>
                <option value="User">User</option>
                <option value="Editor">Editor</option>
                <option value="Administrator">Administrator</option>
                <option value="Banned">Ban user</option>
            </select>

            <button class="btn btn-revoke-rights" type="submit">Change rights</button>
        </form>

        <br />
        <hr />
        <br />
    }
}
<br />
