@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Lista utilizatorilor";
}

<h2>@ViewBag.Title</h2>
<br />


@foreach (var user in ViewBag.Users)
{
    if (@user.Item1 != User.Identity.GetUserId())
    {
        <div>
            <i class="glyphicon glyphicon-user"><strong style="font-size:x-large"> @user.Item2</strong></i>
        </div>
        <h4><strong>Rol curent:</strong> @user.Item3</h4>

        <form method="post" action="/Account/ChangeRights/@user.Item1">
            @Html.HttpMethodOverride(HttpVerbs.Put)

            <select name="roles" class="form-control" style="width:20%">
                <option value="Nothing"> ------- Schimba drepturi ------- </option>
                <option value="User">User</option>
                <option value="Editor">Editor</option>
                <option value="Administrator">Administrator</option>
                <option value="Banned">Ban user</option>
            </select>

            <button class="btn btn-revoke-rights" style="width:20%" type="submit">Modifica dreptul</button>
        </form>

        <br />
        <br />
        <br />
    }
}
