@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Lista utilizatorilor";
}

<h2>@ViewBag.Title</h2>
<br />


@foreach (var user in ViewBag.Users)
{
    if (@user.Item1 != User.Identity.GetUserId())
    {
        <div>
            <i class="glyphicon glyphicon-user"></i>
            <h2>@user.Item2</h2>
        </div>
        <h2>@user.Item3</h2>

        <form method="post" action="/Account/ChangeRights/@user.Item1">
            @Html.HttpMethodOverride(HttpVerbs.Put)

            <select name="roles" class="form-control">
                <option value="Nothing"> ------------- Schimba drepturi ------------ </option>
                <option value="User">User</option>
                <option value="Editor">Editor</option>
                <option value="Administrator">Administrator</option>
                <option value="Banned">Ban user</option>
            </select>

            <button class="btn btn-revoke-rights" type="submit">Modifica dreptul</button>
        </form>

        <br />
        <hr />
        <br />
    }
}
<br />
